[Desktop Entry]
Type=Application
Name=Compiz
Name[ace]=Compiz
Name[af]=Compiz
Name[am]=ኮምፒዝ
Name[ar]=Compiz
Name[ast]=Compiz
Name[az]=Compiz
Name[be]=Compiz
Name[bg]=Compiz
Name[bn]=কমপিজ
Name[bn_IN]=কমপিজ
Name[br]=Compiz
Name[bs]=Kompozitni upravljač prozora
Name[ca]=Compiz
Name[cs]=Compiz
Name[cy]=Compiz
Name[da]=Compiz
Name[de]=Compiz
Name[el]=Compiz
Name[en_AU]=Compiz
Name[en_GB]=Compiz
Name[eo]=Compiz
Name[es]=Compiz
Name[et]=Compiz
Name[eu]=Compiz
Name[fi]=Compiz
Name[fr]=Compiz
Name[fy]=Compiz
Name[gl]=Compiz
Name[gu]=Compiz
Name[he]=Compiz
Name[hi]=Compiz
Name[hr]=Compiz
Name[hu]=Compiz
Name[id]=Compiz
Name[is]=Compiz
Name[it]=Compiz
Name[ja]=Compiz
Name[jv]=Compiz
Name[kab]=Compiz
Name[km]=Compiz
Name[kn]=ಕಾಂಪಿಜ್
Name[ko]=컴피즈
Name[ku]=Compiz
Name[ky]=Compiz
Name[lt]=Compiz
Name[lv]=Compiz
Name[ml]=കോമ്പിസ്
Name[mn]=Компиз
Name[ms]=Compiz
Name[nb]=Compiz
Name[nds]=Compiz
Name[ne]=कम्पिज
Name[nl]=Compiz
Name[nn]=Compiz
Name[oc]=Compiz
Name[or]=କମ୍ପିଜ
Name[pa]=ਕੰਮਪਿਜ਼
Name[pl]=Compiz
Name[pt]=Compiz
Name[pt_BR]=Compiz
Name[ro]=Compiz
Name[ru]=Compiz
Name[si]=Compiz
Name[sk]=Compiz
Name[sl]=Compiz
Name[sq]=Compiz
Name[sr]=Компиз
Name[sv]=Compiz
Name[te]=కాంపిజ్
Name[th]=Compiz
Name[tr]=Compiz
Name[ug]=Compiz
Name[uk]=Compiz
Name[vi]=Compiz
Name[zh_CN]=Compiz
Name[zh_HK]=Compiz
Name[zh_TW]=Compiz
Exec=compiz --replace
NoDisplay=true
# name of loadable control center module
X-GNOME-WMSettingsModule=compiz
# autostart phase
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
# name we put on the WM spec check window
X-GNOME-WMName=compiz
# back compat only 
X-GnomeWMSettingsLibrary=compiz
Hidden=false
